body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #203445;
    color: #fff;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  
  .header .logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
    
  }
  
  .nav .icon {
    font-size: 1.2rem;
  }
  
  
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .content {
    max-width: 50%;
  }
  
  .headline {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .subtext {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #ccc;
  }
  
  .buttons .btn {
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .buttons .buy {
    background-color: #b06fb7;
    color: #fff;
  }
  
  .buttons .find {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
  }
  
  
  .image-container {
    position: relative;
  }
  
  .image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }